# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Environment variables
.env
.env.*
venv/
venv/*
env/
env/*
 
# IDEs
.idea/
.vscode/

# PyCharm
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# Test output
nosetests.xml
coverage.xml
*.cover
*.log

# pyenv
.python-version

# mypy
.mypy_cache/

# pipenv
Pipfile.lock

# Docker
.docker/


# system files
.DS_Store
Thumbs.db

data/*
